@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body {
    margin: 0%;
    background-color: #2196f3;
  }
  
.login--container {
  display: flex;
  flex-direction: column;
  padding: 0 1px;

  min-height: 100vh;
  width: 100%;
  align-items: center;
}



.header--text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: white;
  display: flex;
  align-items: center;
  padding: 80px;
}

.form--label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: black;
  opacity: 0.72;
}

.input--field {
  width: 100vw;
  padding-bottom: 10px;
}

.interactive--text {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-decoration-line: underline;

  color: #808080;
}

.sign--in--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.sign--up--button{
  background-color: white;
/* ◇ Light / Icons Color */

border: 2px  #979797;
border-radius: 16px;
  padding: 36px;

  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height:  37px 15px;
margin-top: 10px;
/* or 140% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2px;

/* ◇ Light / Primary Color */

color: #0E4DA4;
}
