@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body {
  margin: 0;
}

.score--card {
  display: flex;
  width:fit-content;
  height: fit-content;
  color: white;
  justify-content: center;
  margin-right: 10px;
  flex: 0 0 auto;
  background-image: url("../../images/Card Live.png");
  background-repeat: no-repeat;
  background-size: 110% 110%;
}

/* .cardImg {
  display: flex;
  border-radius: 20px;
} */
.score--info {
  position: relative;
  text-align: center;
  margin: 10px 10px;
}

.date {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.players {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height:0;
  word-spacing: 0%;
}

.score {
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  padding-top: 5px;
  line-height: 17px;
  color: white;
}

.modal-modal-title{
font-family: "Poppins";
font-style: normal;
font-weight: 400;
margin-left: 10px;
}
